html,
body,
#app {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  line-height: 1.5;
  margin: 0 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
